body {
    background-image: url("media/images/03-slide.jpg") no-repeat right bottom;
}

h1 a {
    color: #FCA205;
    font-family: 'Lobster';
}
.maxim {
    color: #FCA205;
    font-family: 'Lobster';
}