<!-- banking/templates/about.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Banking!</title>
    </head>
    <body>
        <h1>Welcome to the ATM System</h1>
    <p>
        Here, we support transactions directly from your bank. Some of the primary features you expect to find in this system include:
        <ul>
            <li> Logging in  </li>
            <li> Withdrawing money </li>
            <li> Depositing money </li>
            <li> Checking balance </li>
            <li> Transferring money </li>
            <li> Storing credentials securely </li>
        </ul>
    </p>
    <a href="/">Go back home</a>
    </body>
</html>