{% extends "base.html" %}
{% block title %}Create Account{% endblock %}
{% block content %}
<section id="login" class="parallax-section" name="login_form">
	<div class="container">
		<div class="row">
		    <div class="wow fadeInLeft col-md-offset-1 col-md-5 col-sm-8" data-wow-delay="0.9s">
				<h2 class="lobster padded">Create Account</h2>
				<p>By creating an new account, we automatically create a unique account number and activate the account for you. </p>
				{% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                        {{ message }}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
				<form action="." method="post"> {% csrf_token %}
					{{ acc_form }}
					<div class="col-md-offset-6 col-md-6 col-sm-offset-1 col-sm-10">
						<input name="submit" type="submit" class="form-control" id="submit" value="CREATE">
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

{% endblock %}