{% load staticfiles %}
<!DOCTYPE html PUBLIC>
<html lang="en">
<head>
<title>Misty | {% block title %}{% endblock %}</title>
<meta name="description" content="">
<meta name="author" content="">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link href='https://fonts.googleapis.com/css?family=Poppins:400,500,600' rel='stylesheet' type='text/css'>
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

<!-- =========================
     STATIC STYLESHEETS
============================== -->
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/banking.css' %}">
<link rel="stylesheet" href="{% static 'css/animate.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/carousel.css' %}">
<link rel="stylesheet" href="{% static 'css/themes.css' %}">

</head>

<body data-spy="scroll" data-offset="50" data-target=".navbar-collapse">

<!-- =========================
     PRE LOADER
============================== -->
{% if not user.is_authenticated %}
<div class="preloader">

	<div class="sk-rotating-plane"></div>

</div>
{% endif %}


<!-- =========================
     NAVIGATION LINKS
============================== -->
<div class="navbar navbar-fixed-top custom-navbar" role="navigation">
	<div class="container">

		<!-- navbar header -->
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand">Misty Banking</a>
		</div>

		<div class="collapse navbar-collapse">

			<ul class="nav navbar-nav navbar-right">
				<li><a href="#intro" class="smoothScroll">Home</a></li>
				<li><a href="#overview" class="smoothScroll">Overview</a></li>
				<li><a href="/account/" class="smoothScroll">Accounts</a></li>
				<li><a href="#about" class="smoothScroll">About</a></li>
				{% if user.is_authenticated %}
                <li><a class="maxim" href="/logout">Welcome {{ user.username }} (<span class="maxim">Logout</span>)</a>
                </li>
                {% else %}
				<li><a href="/register/" class="smoothScroll">Register</a></li>
				<li><a href="/login/" class="smoothScroll">Login</a></li>
                {% endif %}
			</ul>

		</div>

	</div>
</div>


<!-- =========================
    HOME SECTION
============================== -->
<section id="intro" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h3 class="wow bounceIn" data-wow-delay="0.9s">Misty banking system. Your Online Banking Partner </h3>
				<h1 class="wow fadeInUp" data-wow-delay="1.6s"><span class="maxim">"You grind, we bank"</span></h1>
				<a href="#about" class="btn btn-lg btn-default smoothScroll wow fadeInUp hidden-xs" data-wow-delay="2.3s">LEARN MORE</a>
				{% if user.is_authenticated %}
				<a href="/account/" class="btn btn-lg btn-danger smoothScroll wow fadeInUp" data-wow-delay="2.3s">GO TO ACCOUNT</a>
                {% else %}
				<a href="#register" class="btn btn-lg btn-danger smoothScroll wow fadeInUp" data-wow-delay="2.3s">REGISTER NOW</a>
                {% endif %}
			</div>
		</div>
	</div>
</section>



<!-- =========================
    EXTEND THE TEMPLATE
============================== -->

<h1>{% block head %}{% endblock %}</h1>
{% block content %}{% endblock %}



<!-- =========================
    ABOUT SECTION
============================== -->
<section id="about" class="parallax-section">
	<div class="container">
		<div class="row">

			<div class="wow fadeInLeft col-md-offset-2 col-md-8 col-sm-8" data-wow-delay="0.9s" class="center">
				<h2 class="center">About</h2>

                <h3>Welcome to Misty Banking</h3>
                <div class="row">
                    <span class="padding-15 col-sm-12">Here, we support transactions directly from your bank. Some of the primary features you expect to find in this system include: </span>

			        <div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay="0.5s">
                        <ul>
                            <li> Logging in  </li>
                            <li> Withdrawing money </li>
                        </ul>
                    </div>
                    <div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay="1s">
                        <ul>
                            <li> Depositing money </li>
                            <li> Checking balance </li>
                        </ul>
                    </div>
                    <div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay="1.5s">
                        <ul>
                            <li> Transferring money </li>
                            <li> Storing credentials securely </li>
                        </ul>
                    </div>
                </div>
                <a href="#intro">Go back home</a>

			</div>

		</div>
	</div>
</section>



<!-- =========================
    FOOTER SECTION
============================== -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<p class="wow fadeInUp" data-wow-delay="0.6s">Copyright &copy; 2017 Carl Dantif </p>
				<ul class="social-icon">
					<li><a href="#" class="fa fa-facebook wow fadeInUp" data-wow-delay="1s"></a></li>
					<li><a href="#" class="fa fa-twitter wow fadeInUp" data-wow-delay="1.3s"></a></li>
					<li><a href="#" class="fa fa-dribbble wow fadeInUp" data-wow-delay="1.6s"></a></li>
					<li><a href="#" class="fa fa-behance wow fadeInUp" data-wow-delay="1.9s"></a></li>
					<li><a href="#" class="fa fa-google-plus wow fadeInUp" data-wow-delay="2s"></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>


<!-- Back top -->
<a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>


<!-- =========================
     SCRIPTS
============================== -->
<script src=" {% static 'js/jquery.js' %}"></script>
<script src=" {% static 'js/bootstrap.min.js' %}"></script>
<script src=" {% static 'js/jquery.parallax.js' %}"></script>
<script src=" {% static 'js/carousel.min.js' %}"></script>
<script src=" {% static 'js/smoothscroll.js' %}"></script>
<script src=" {% static 'js/wow.min.js' %}"></script>
<script src=" {% static 'js/banking.js' %}"></script>


</body>
</html>